@model IEnumerable<Entidades.Cuenta>

@{
    ViewBag.Title = "ConsultarBalance";
}

<h2>Mostrar Balance</h2>


<table class="table">
    <tr>
       

        <th>
            @Html.DisplayNameFor(model => model.NumCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    
    <td>
        @Html.DisplayFor(modelItem => item.NumCuenta)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Balance)
    </td>



</tr>
}

</table>
