
@{
    ViewBag.Title = "Index1";
}



<div>
    <center>

        <h2>RESUMEN DE PRODUCTOS</h2>

        <a href="/Cliente/BalanceCuenta" class="=btn btn-primary">Balance de cuentas</a>
        <a href="/Cliente/BalancePrestamo" class="=btn btn-primary">Balance de prestamos</a>
        <a href="/Cliente/BalanceTarjeta" class="=btn btn-primary">Balance de tarjetas</a>
    </center>
</div>

