
@{
    ViewBag.Title = "IndexPrincipal";
}



<div>
    <center>
        <h2>Bienvenidos</h2>
        <a href="/Cliente/IndexBalance"" class="=btn btn-primary"> Ver resumen de productos</a>
        <a href="/Cliente/IndexTrans" class="=btn btn-primary">Realizar transacciones</a>
    </center>
</div>