
@{
    ViewBag.Title = "IndexTrans";
}


<div>
    <center>

        <h2>TRANSACCIONES</h2>


        <a href="/Cliente/Depositar" class="=btn btn-primary">Depositar</a>
        <a href="/Cliente/Retirar" class="=btn btn-primary">Retirar</a>
        <a href="/Cliente/Transferir" class="=btn btn-primary">Transferir</a>

    </center>
</div>

