
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido</h2>

<div>
    

    <a href="/Admin/CrearCliente" class="=btn btn-primary"> Crear cliente</a>
    <a href="/Admin/ListadoCliente" class="=btn btn-primary">Listado de cliente</a>

    <a href="/Admin/CrearCuenta" class="=btn btn-primary"> Crear cuenta</a>
    <a href="/Admin/ListarCuentas" class="=btn btn-primary"> Listado de cuentas</a>

    <a href="/Admin/CrearPrestamo" class="=btn btn-primary"> Crear prestamo</a>
    <a href="/Admin/ListarPrestamo" class="=btn btn-primary"> Listado de prestamo</a>

    <a href="/Admin/CrearTarjeta" class="=btn btn-primary"> Crear Tarjeta</a>
    <a href="/Admin/ListarTarjeta" class="=btn btn-primary"> Listado de tarjetas</a>




</div>


